<div id="<%= dom_id route %>">
  <p>
    <strong>Name:</strong>
    <%= route.name %>
  </p>

  <p>
    <strong>Start point:</strong>
    <%= route.start_point %>
  </p>

  <p>
    <strong>End point:</strong>
    <%= route.end_point %>
  </p>

</div>
