<div id="<%= dom_id bus %>">
  <p>
    <strong>Number:</strong>
    <%= bus.number %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= bus.capacity %>
  </p>

  <p>
    <strong>Route:</strong>
    <%= bus.route_id %>
  </p>

</div>
